.DS_Store
**/.DS_Store
.worktrees/

node_modules/
**/node_modules/
dist/
**/dist/

__pycache__/
**/__pycache__/
*.py[cod]

.pytest_cache/
**/.pytest_cache/

.venv/
**/.venv/
.venv312/
**/.venv312/

db.sqlite3
**/db.sqlite3
