[submodule "development/front-web-console"]
	path = development/front-web-console
	url = https://github.com/EVNSolution/front-web-console
[submodule "development/service-announcement-registry"]
	path = development/service-announcement-registry
	url = https://github.com/EVNSolution/service-announcement-registry
